
     body {
        margin: 0;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        align-items: center;
    }
    
    .class {
        width: 100%;
        max-width: 12000px;
        height: 50px;
    }
    
    .nav {
        width: 100%;
        height: 100%;
        position: fixed;
    }
     
    main {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 20px;
        width: 100%;
        min-height: 100vh;
    }
    
    .text {
        margin-top: 50px;
        width: 100%;
        height: 300px;
        margin-bottom: 20px;
        z-index: -1;
        color: black;
    }

    .text ::before{
        content: "";
        background-image: url(../תמונות/רקע.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        opacity: 0.2;

    }

    h2,h3{
        color: black;
        font-style: italic;
    }

    .sliding {
        
        width: 100%;
        max-width: 3000px;
        height: 700px;
        align-items: center;
        align-self:center ;
    }
    
    .footer {
        width: 100%;
        height: 360px;
        position: relative;
        bottom: 0
    }
    